
<input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
<button type="button" class="btn btn-success btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
</button>
    <mat-nav-list>
        <mat-list-item *ngFor="let link of playlist">
                <h1 matLine> {{link.position}} </h1>
            <h1 matLine> {{link.value}} </h1>
           <button mat-icon-button (click)='deleteFile(link)'>
              <mat-icon>delete</mat-icon>
           </button>
        </mat-list-item>
      </mat-nav-list>