<app-menu></app-menu>

<div>
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Categories</mat-card-title> 
    </mat-card-header>
   
    <div *ngIf="selectedMedia.enableUpdate; else save">
      <!-- Update UI-->
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <!-- <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="selectedMedia.categoryId" (selectionChange)="updatecategoryClick ()" multiple>
            <mat-option *ngFor="let food of category" [value]="food.categoryId">
              {{food.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <p>{{selectedMedia.subCategoryId}}</p>
          <mat-label>Select Sub Category</mat-label>
          <mat-select [(ngModel)]="selectedMedia.subCategoryId" [(value)]="selected">
            <mat-option *ngFor="let food of subCategory" [value]="food.subCategoryId">
              {{food.subCategoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
          <input  matInput placeholder="Name" [(ngModel)]="selectedMedia.title">
        </mat-form-field>
        <!-- <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="selectedMedia.description"></textarea>
        </mat-form-field>        
        <mat-form-field>
          <input matInput placeholder="Narrator" [(ngModel)]="selectedMedia.narrator">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Author" [(ngModel)]="selectedMedia.author"></textarea>
        </mat-form-field> -->

        <!-- <mat-slide-toggle [(ngModel)]="selectedMedia.premium"> Premium Video</mat-slide-toggle> -->
      </mat-card-content>
      <!-- <input placeholder="Multiple Audio/Video">
        <app-file-upload (messageEvent)="receiveUpdateVideoMessage($event)"></app-file-upload>
        <br> -->
      <app-single-file-upload (messageEvent)="receiveUpdateSingleFile($event)"></app-single-file-upload>
      <span></span>
      <mat-slide-toggle [(ngModel)]="selectedMedia.active"> Active/InActive</mat-slide-toggle>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="primary" (click)="onClear()">Cancel</button>
      </mat-card-actions>
    </div>
    <ng-template #save>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">

        <!-- <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="media.categoryId"  multiple>
            <mat-option *ngFor="let food of category" [value]="food.categoryId" selected>
              {{food.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Sub Category</mat-label>
          <mat-select [(ngModel)]="media.subCategoryId" multiple>
            <mat-option *ngFor="let food of subCategory" [value]="food.subCategoryId">
              {{food.subCategoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="media.title">
        </mat-form-field>
        <!-- <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="media.description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Narrator" [(ngModel)]="media.narrator">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Author" [(ngModel)]="media.author"></textarea>
        </mat-form-field> -->

        <!-- <mat-slide-toggle [(ngModel)]="media.premium"> Premium Video</mat-slide-toggle> -->

      </mat-card-content>
      <!-- <input placeholder="Audio/Video">
      <app-file-upload (messageEvent)="receiveMessage($event)"></app-file-upload>
      <br> -->
      <app-single-file-upload (messageEvent)="receiveSingleFile($event)"></app-single-file-upload>
     

      <mat-slide-toggle [(ngModel)]="media.active"> Active/Inactive</mat-slide-toggle>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
      </mat-card-actions>
    </ng-template>

    <table *ngIf="dataSource?.length"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="create_date">
        <th mat-header-cell *matHeaderCellDef> Inserted Date </th>
        <td mat-cell *matCellDef="let element"> {{element.create_date}} </td>
      </ng-container>
      <ng-container matColumnDef="updateAction">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="edit(element)">edit</i>
      </ng-container>
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="delete(element)">delete</i>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    

  </mat-card>
</div>