<!DOCTYPE html>
<html>

<body>
    <div id="thanksId"
        style="padding: 20px;background-color: #f5f6ff;border: 1px solid #ccc;  border-radius: 20px;width: 600px;margin: auto;font: 300 14px/18px 'Lucida Grande', Lucida Sans, Lucida Sans Unicode, sans-serif, Arial, Helvetica, Verdana, sans-serif;">
        <img src="http://www.sakeenah.io/images/logo-new.png" width="80" style="display: block;margin: auto;">
        <strong>REGISTRATION SUCCESSFUL</strong>
        <p style=" color: #43439b;">Salam,</p>
        <p style=" color: #43439b;">Your registration has been sucessfully done. You can now login.</p>
        <div style="margin-top: 50px">
            <p style="color: #43439b;">JazakAllahu Khayrun</p>
            <p style="color: #bf3f96; ">Sakeenah /Tranquillity/ Team</p>
        </div>
        <!--- Footer Starts Here --->
        <table cellpadding="0" cellspacing="0" border="0"
            style="width:100%;margin-top: 50px;border-top: 1px solid #bf3f96;">
            <tbody>
                <tr>
                    <td>
                        <div style="height:1px" height="1"></div>
                    </td>
                </tr>
                <tr>
                    <td id="footer-links"
                        style="padding-top:10px;text-align:center;font:11px/15px Geneva,Verdana,Arial,Helvetica,sans-serif;color:#888">
                        <span>salam@sakeenah.io</span> |
                        <a href="https://www.sakeenah.io/privacy-policy/" target="_blank">Privacy Policy</a> |
                        <a href="https://www.sakeenah.io/terms-of-use/" target="_blank">Terms of Use</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:7px" height="7"></div>
                    </td>
                </tr>
                <tr>
                    <td
                        style="padding:0;margin-bottom:0;text-align:center;font:12px/15px Geneva,Verdana,Arial,Helvetica,sans-serif;color:#888">
                        Copyright Sakeenah © 2020 <span id="all-reserved">All Rights Reserved.</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>