<!DOCTYPE html>
<html>

<body>
    <div id="emailid" style="max-width:980px;margin:auto;border:1px solid #ccc;padding:15px;">
        <strong>Please verify your email address</strong>
        <p>Salam {{firstName}},</p>
        <p>Please <a style="display: inline-block;" href={{userlink}}>click here</a> to verify your email address so
            that we can complete your registration to the Sakeenah /Tranquillity/ app.</p>
        <p>JazakAllahu khayrun</p>
        <p>Sakeenah /Tranquillity/ Team</p>
    </div>
</body>

</html>