
<div >
  <mat-card >
  <mat-card-header fxLayoutAlign="center">
     <mat-card-title>Category</mat-card-title>
  </mat-card-header>
  <div *ngIf="selectedCategory; else save">
    <!-- Update UI-->
    <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="selectedCategory.categoryName"  >
          <textarea matInput placeholder="Description" [(ngModel)]="selectedCategory.description" ></textarea>
        </mat-form-field>
        
         <mat-slide-toggle [(ngModel)]="selectedCategory.active"> Slide me!</mat-slide-toggle>
        
     </mat-card-content>
     <mat-card-actions >
        <button mat-raised-button color="primary" (click)="onclick()" >cancel</button>
     </mat-card-actions>
     <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="onclick()" >Update</button>
     </mat-card-actions>
  </div>
  <ng-template #save>
    <!--SAVE UI-->
  <mat-card-content fxLayout="column">
     <mat-form-field>
       <input matInput placeholder="Name" [(ngModel)]="category.name"  >
       
     </mat-form-field>
     <mat-form-field>
     <textarea matInput placeholder="Description" [(ngModel)]="category.description" ></textarea>
    </mat-form-field>
      <mat-slide-toggle [(ngModel)]="category.active"> Slide me!</mat-slide-toggle>
     
  </mat-card-content>
  <mat-card-actions align="end">
     <button mat-raised-button color="primary" (click)="onclick()" >Save</button>
  </mat-card-actions>
</ng-template>
  <mat-list>
    <mat-list-item *ngFor="let category of categories">
      <h3>{{category.categoryName}}</h3>
      <span></span>
      <br>
      <p>{{category.active}}</p>
    </mat-list-item>
  </mat-list>


  </mat-card>
  </div>