<app-menu></app-menu>

<div>
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Albums</mat-card-title>
    </mat-card-header>
    <div *ngIf="selectedAlbum.enableUpdate; else save">
      <!-- Update UI-->
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="selectedAlbum.categoryId" (selectionChange)="updatecategoryClick ()">
            <mat-option *ngFor="let food of category" [value]="food.categoryId">
              {{food.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="selectedAlbum.title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Duration" [(ngModel)]="selectedAlbum.duration"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput required type="number" placeholder="Sequence" [(ngModel)]="selectedAlbum.sequence">
        </mat-form-field>
        <!-- <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="selectedAlbum.description"></textarea>
        </mat-form-field>   -->

        <!-- <mat-form-field>
          <input matInput placeholder="Narrator" [(ngModel)]="selectedAlbum.narrator">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Author" [(ngModel)]="selectedAlbum.author"></textarea>
        </mat-form-field> -->

        <mat-slide-toggle [(ngModel)]="selectedAlbum.premium"> Premium Album</mat-slide-toggle>
      </mat-card-content>
      <!-- <input placeholder="Multiple Audio/Video">
        <app-file-upload (messageEvent)="receiveUpdateVideoMessage($event)"></app-file-upload>
        <br> -->
      <app-single-file-upload (messageEvent)="receiveUpdateSingleFile($event)"></app-single-file-upload>
      <span></span>
      <mat-slide-toggle [(ngModel)]="selectedAlbum.active"> Active/InActive</mat-slide-toggle>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="primary" (click)="onClear()">Cancel</button>
      </mat-card-actions>
    </div>
    <ng-template #save>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="album.categoryId">
            <mat-option *ngFor="let food of category" [value]="food.categoryId" selected>
              {{food.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="album.title">
        </mat-form-field>
        <!-- <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="album.description"></textarea>
        </mat-form-field> -->
        <mat-form-field>
          <textarea matInput placeholder="Duration" [(ngModel)]="album.duration"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput required type="number" placeholder="Sequence" [(ngModel)]="album.sequence">
        </mat-form-field>

        <!--  <mat-form-field>
          <input matInput placeholder="Narrator" [(ngModel)]="album.narrator">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Author" [(ngModel)]="album.author"></textarea>
        </mat-form-field> -->

        <mat-slide-toggle [(ngModel)]="album.premium"> Premium Album</mat-slide-toggle>

      </mat-card-content>
      <!-- <input placeholder="Audio/Video">
      <app-file-upload (messageEvent)="receiveMessage($event)"></app-file-upload>
      <br> -->
      <app-single-file-upload (messageEvent)="receiveSingleFile($event)"></app-single-file-upload>


      <mat-slide-toggle [(ngModel)]="album.active"> Active/Inactive</mat-slide-toggle>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
      </mat-card-actions>
    </ng-template>

    <table *ngIf="dataSource?.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="create_date">
        <th mat-header-cell *matHeaderCellDef> Inserted Date </th>
        <td mat-cell *matCellDef="let element"> {{element.create_date}} </td>
      </ng-container>
      <ng-container matColumnDef="updateAction">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="edit(element)">edit</i>
      </ng-container>
      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="delete(element)">delete</i>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="!dataSource?.length" style="min-height: 100px; position: relative;"> <img
        src="./../../assets/uploading.gif" width="50"
        style="position: absolute; left: 50%; transform: translateX(-50%);z-index: 999" /></div>
  </mat-card>
</div>