<app-menu></app-menu>
<div>
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Playlist </mat-card-title>
    </mat-card-header>
    <div *ngIf="selectedPlayList.enableUpdate; else save">
      <!-- Update UI-->
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Select Category</mat-label>
          <mat-select [(ngModel)]="selectedPlayList.mediaId">
            <mat-option *ngFor="let food of media" [value]="food.mediaId">
              {{food.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Day</mat-label>
          <mat-select [(ngModel)]="selectedPlayList.selectDay">
            <mat-option *ngFor="let food of days" [value]="food.key">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <app-single-file-upload (messageEvent)="receiveUpdatePlayListSingleFile($event)" myType="mp3"></app-single-file-upload>

        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="selectedPlayList.name">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Author" [(ngModel)]="selectedPlayList.description"></textarea>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="selectedPlayList.premium">Premium</mat-slide-toggle>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="primary" (click)="onClear()">Clear</button>
      </mat-card-actions>
    </div>
    <ng-template #save>
      <!--SAVE UI-->
     
      <form class="playlistForm" action=""  autocomplete="off" method="POST" [formGroup]="myForm" 
      >
        <mat-card-content fxLayout="column" fxLayoutAlign="center">
          <mat-form-field >
            <mat-label>Select Category</mat-label>
            <mat-select [(ngModel)]="playList.mediaId" name="mediaId" required formControlName='mediaId'>
              <mat-option *ngFor="let food of media" [value]="food.mediaId">
                {{food.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Day</mat-label>
            <mat-select [(ngModel)]="playList.selectDay" name="selectDay" required formControlName='selectDay'>
              <mat-option *ngFor="let food of days" [value]="food.key">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="playList.name" name="playListName" formControlName='playListName'>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Author" [(ngModel)]="playList.description" name="description" formControlName='description'></textarea>
          </mat-form-field>
          <div>
            <app-single-file-upload (messageEvent)="receivePlayListSingleFile($event)" myType="mp3"></app-single-file-upload>
            <small> * File type support <strong>mp3</strong> only and below <strong>3 MB</strong></small>
          </div>          
        </mat-card-content>
        <img *ngIf="loader" src="./../../assets/uploading.gif" width="50" style="position: absolute; left: 50%; transform: translateX(-50%);z-index: 999"/>
       <!-- <mat-slide-toggle [(ngModel)]="playList.premium" name="premium" >Premium</mat-slide-toggle> -->
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" (click)="onSave('save')">Save</button>
        </mat-card-actions>
      </form>
    </ng-template>

    <table *ngIf="dataSource?.length"  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Premium </th>
        <td mat-cell *matCellDef="let element"> {{element.premium}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="create_date">
        <th mat-header-cell *matHeaderCellDef> Inserted Date </th>
        <td mat-cell *matCellDef="let element"> {{element.create_date}} </td>
      </ng-container>

      <ng-container matColumnDef="mediaId">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element">
            <span *ngFor="let food of media">
              <!-- {{media | json}} -->
              <!-- {{food.title}} - {{element.mediaId}} -->
              <span *ngIf="food.mediaId === element.mediaId">{{food.title}}</span>
            </span>
          </td>
        </ng-container>

      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef> Day </th>
        <td mat-cell *matCellDef="let element">{{element.selectDay}}</td>
      </ng-container>

      <ng-container matColumnDef="deleteAction">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="delete(element)">delete</i>
      </ng-container>
      <ng-container matColumnDef="updateAction">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="edit(element)">edit</i>
      </ng-container>


      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<!-- 
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

    </table>
  </mat-card>
</div>